blinker
Brotli
cffi # Removed specific version
click
cryptography
cssselect2
et_xmlfile
Flask
Flask-Login
Flask-SQLAlchemy
fonttools
greenlet
itsdangerous
Jinja2
MarkupSafe
numpy
openpyxl
pandas
pillow
pycparser
pydyf
PyMySQL
pyphen
python-dateutil
pytz
six
SQLAlchemy
tinycss2
tinyhtml5
typing_extensions
tzdata
weasyprint # Removed specific version
webencodings
Werkzeug
zopfli

flask
gunicorn
python-dotenv